[user]
	email = kota@nilsu.org
	name = Dakota Walsh
	signingkey = C8C93687E2E3D333C21320230D2BB141570878F7
[color]
	ui = auto
[alias]
	aa = add --all
	st = status
	ci = commit --verbose
	sw = switch
	co = checkout
	ra = log --oneline --graph --decorate --all
	raa = log --oneline
	di = diff
	dc = diff --cached
	ds = diff --stat=160,120
	amend = commit --amend
	ff = merge --ff-only
	noff = merge --no-ff
	fa = fetch --all
	po = push origin
	pu = pull origin
	dh1 = diff HEAD~1
[pull]
	rebase = false
[gpg]
	program = gpg2
[init]
	defaultBranch = master
[core]
	pager = less -FRX
	excludesfile = ~/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
