[user]
	email = kota@nilsu.org
	name = Dakota Walsh
	signingkey = C8C93687E2E3D333C21320230D2BB141570878F7
[color]
	ui = auto
[alias]
	aa = add --all
	st = status
	ci = commit --verbose
	sw = switch
	co = checkout
	ra = log --oneline --graph --decorate --all
	raa = log --oneline
	di = diff
	dc = diff --cached
	amend = commit --amend
	fa = fetch --all
	ps = push origin
	pl = pull origin
	dh1 = diff HEAD~1
	hard = reset --hard FETCH_HEAD
[pull]
	rebase = false
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[core]
	pager = less -FRX
	excludesfile = ~/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
