[user]
	email = kota@nilsu.org
	name = Dakota Walsh
	signingkey = 570878F7
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
[color]
	ui = auto
[alias]
	aa = add --all
	st = status
	ci = commit --verbose
	co = checkout
	di = diff
	dc = diff --cached
	ds = diff --stat=160,120
	amend = commit --amend
	ff = merge --ff-only
	noff = merge --no-ff
	fa = fetch --all
	pom = push origin
	pum = pull origin
	dh1 = diff HEAD~1
	ra = log --oneline
[merge]
	tool = vimdiff
[pull]
	rebase = false
[gpg]
	program = gpg2
[init]
	defaultBranch = master
