*.uuid
neovim/.config/nvim/bundle*
neovim/.config/nvim/undo*
neovim/.config/nvim/.netrwhist
st/st
st/config.h
st/st.o
st/x.o
tabbed/tabbed
tabbed/tabbed.o
vimb/.config/vimb/cookies.db
vimb/.config/vimb/history
vimb/.config/vimb/closed
dmenu/dmenu
dmenu/dmenu.o
dmenu/stest
dmenu/stest.o
dmenu/util.o
dmenu/drw.o
dmenu/config.h
themes/.config/gtk-3.0/bookmarks
themes/.config/gtk-2.0/gtkfilechooser.ini
mpd/.config/mpd/mpdstate
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpd.pid
mpd/.config/mpd/playlists*
bin/bin/godot
bin/bin/osync
bin/bin/pmbootstrap
