*.uuid
beets/.local/share/beet/library.db
beets/.config/beets/state.pickle
neovim*/.config/nvim/undo/*
neovim*/.config/nvim/.netrwhist
mpd/.config/mpd/mpdstate
mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpd.pid
mpd/.config/mpd/playlists*
ncmpcpp/.config/ncmpcpp/error.log
