[submodule "zsh/.local/share/zsh/plugins/kota-prompt"]
	path = zsh/.local/share/zsh/plugins/kota-prompt
	url = https://git.sr.ht/~kota/kota-prompt
[submodule "neovim/.config/nvim/pack/themes/start/black-pastel"]
	path = neovim/.config/nvim/pack/themes/start/black-pastel
	url = https://git.sr.ht/~kota/black-pastel
[submodule "neovim/.config/nvim/pack/plugins/start/vim-speeddating"]
	path = neovim/.config/nvim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "neovim/.config/nvim/pack/plugins/start/vim-repeat"]
	path = neovim/.config/nvim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "neovim/.config/nvim/pack/plugins/start/vim-vinegar"]
	path = neovim/.config/nvim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "neovim/.config/nvim/pack/plugins/start/visual-star-search"]
	path = neovim/.config/nvim/pack/plugins/start/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "neovim/.config/nvim/pack/plugins/start/vim-tmux-navigator"]
	path = neovim/.config/nvim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "neovim/.config/nvim/pack/plugins/start/vim-gitgutter"]
	path = neovim/.config/nvim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "neovim/.config/nvim/pack/plugins/start/undotree"]
	path = neovim/.config/nvim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "neovim/.config/nvim/pack/plugins/start/vim-commentary"]
	path = neovim/.config/nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "neovim/.config/nvim/pack/plugins/start/tabular"]
	path = neovim/.config/nvim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "neovim/.config/nvim/pack/plugins/start/vim-surround"]
	path = neovim/.config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim/.config/nvim/pack/plugins/start/splitjoin"]
	path = neovim/.config/nvim/pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "neovim/.config/nvim/pack/plugins/start/ack"]
	path = neovim/.config/nvim/pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim
[submodule "neovim/.config/nvim/pack/plugins/start/vim-airline"]
	path = neovim/.config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "neovim/.config/nvim/pack/plugins/start/vim-airline-themes"]
	path = neovim/.config/nvim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "neovim/.config/nvim/pack/plugins/start/battery"]
	path = neovim/.config/nvim/pack/plugins/start/battery
	url = https://github.com/lambdalisue/battery.vim
[submodule "neovim/.config/nvim/pack/plugins/start/vim-fugitive"]
	path = neovim/.config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "neovim/.config/nvim/pack/plugins/start/vim-highlightedyank"]
	path = neovim/.config/nvim/pack/plugins/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "neovim/.config/nvim/pack/plugins/start/coc"]
	path = neovim/.config/nvim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "neovim/.config/nvim/pack/plugins/start/nnn"]
	path = neovim/.config/nvim/pack/plugins/start/nnn
	url = https://github.com/mcchrish/nnn.vim
[submodule "neovim/.config/nvim/pack/plugins/start/vim-hugo-helper"]
	path = neovim/.config/nvim/pack/plugins/start/vim-hugo-helper
	url = https://github.com/robertbasic/vim-hugo-helper
[submodule "neovim/.config/nvim/pack/plugins/start/fzf"]
	path = neovim/.config/nvim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "neovim/.config/nvim/pack/plugins/start/vim-toml"]
	path = neovim/.config/nvim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "neovim/.config/nvim/pack/plugins/start/vim-godot"]
	path = neovim/.config/nvim/pack/plugins/start/vim-godot
	url = https://github.com/habamax/vim-godot
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/black-pastel"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/black-pastel
	url = https://git.sr.ht/~kota/black-pastel
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-speeddating"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-vinegar"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-visual-star-search"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-tmux-navigator"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-gitgutter"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/undotree"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-commentary"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/tabular"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-surround"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/splitjoin"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/ack"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-fugitive"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-highlightedyank"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-hugo-helper"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-hugo-helper
	url = https://github.com/robertbasic/vim-hugo-helper
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-toml"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/vim-godot"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/vim-godot
	url = https://github.com/habamax/vim-godot
[submodule "neovim/.config/nvim/pack/plugins/start/gemini-vim-syntax"]
	path = neovim/.config/nvim/pack/plugins/start/gemini-vim-syntax
	url = https://tildegit.org/sloum/gemini-vim-syntax
[submodule "neovim-minimal/.config/nvim/pack/plugins/start/gemini-vim-syntax"]
	path = neovim-minimal/.config/nvim/pack/plugins/start/gemini-vim-syntax
	url = https://tildegit.org/sloum/gemini-vim-syntax
[submodule "neovim/.config/nvim/pack/plugins/start/vim-eunuch"]
	path = neovim/.config/nvim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "neovim/.config/nvim/pack/plugins/start/vim-dirvish"]
	path = neovim/.config/nvim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "neovim/.config/nvim/pack/plugins/start/vim-floaterm"]
	path = neovim/.config/nvim/pack/plugins/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "neovim/.config/nvim/pack/plugins/start/vim-go"]
	path = neovim/.config/nvim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "neovim/.config/nvim/pack/plugins/start/preamble"]
	path = neovim/.config/nvim/pack/plugins/start/preamble
	url = https://github.com/vim-scripts/Preamble
