Xft.dpi: 192

Sxiv.background: #dddddd
Sxiv.foreground: #000000

dmenu.font: Iosevka:size=9:antialias=true:autohint=true
dmenu.normbgcolor: #000000
dmenu.selbgcolor: #888aca

i3wm.sc: #888aca
i3wm.bc: #e6417e
i3wm.bg: #f0f0f0
i3wm.uc: #565656
i3wm.fc: #000000
