gtk-color-scheme = "background: #2E3440"
gtk-color-scheme = "foreground: #D8DEE9"

gtk-color-scheme = "color0: #3B4252"
gtk-color-scheme = "color1: #BF616A"
gtk-color-scheme = "color2: #A3BE8C"
gtk-color-scheme = "color3: #EBCB8B"
gtk-color-scheme = "color4: #81A1C1"
gtk-color-scheme = "color5: #B48EAD"
gtk-color-scheme = "color6: #88C0D0"
gtk-color-scheme = "color7: #E5E9F0"
gtk-color-scheme = "color8: #4C566A"
gtk-color-scheme = "color9: #BF616A"
gtk-color-scheme = "color10: #A3BE8C"
gtk-color-scheme = "color11: #EBCB8B"
gtk-color-scheme = "color12: #81A1C1"
gtk-color-scheme = "color13: #B48EAD"
gtk-color-scheme = "color14: #8FBCBB"
gtk-color-scheme = "color15: #ECEFF4"
