[Desktop Entry]
Version=1.0
Name=aseprite
Exec=$HOME/.local/bin/aseprite
Icon=aseprite
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=aseprite
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
