[Desktop Entry]
Version=1.0
Name=blender
Exec=blender
# Exec=/home/kota/src/blender/build_linux/bin/blender
Terminal=false
X-MultipleArgs=false
Type=Application
