[Desktop Entry]
Version=1.0
Name=calculator
Exec=footclient -o app-id="foot-float" -o initial-window-size-pixels="440x600" calc -d
Terminal=false
X-MultipleArgs=false
Type=Application
