[Desktop Entry]
Version=1.0
Name=calendar
Exec=foot -o app-id="foot-float" -o initial-window-size-pixels="900x600" calendar
Terminal=false
X-MultipleArgs=false
Type=Application
