[Desktop Entry]
Version=1.0
Name=clock
Exec=foot -o app-id="foot-float" -o initial-window-size-pixels="230x130" tty-clock -C 2
Terminal=false
X-MultipleArgs=false
Type=Application
