[Desktop Entry]
Version=1.0
Name=deluge
TryExec=deluge-gtk
Exec=deluge-gtk %U
Icon=deluge
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
StartupWMClass=deluge
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-GNOME-UsesNotifications=true
