[Desktop Entry]
Name=discord
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=/usr/bin/flatpak run --socket=session-bus --socket=system-bus --socket=wayland com.discordapp.Discord --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto --branch=stable --arch=x86_64 --command=com.discordapp.Discord com.discordapp.Discord
Icon=com.discordapp.Discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
X-Desktop-File-Install-Version=0.27
MimeType=x-scheme-handler/discord;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.discordapp.Discord
