[Desktop Entry]
Version=1.0
Name=discord
Exec=Discord --enable-features=WebRTCPipeWireCapturer --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
X-MultipleArgs=false
Type=Application
