[Desktop Entry]
Name=element
Comment=A feature-rich client for Matrix.org
Exec=element-desktop --enable-features=UseOzonePlatform --ozone-platform=wayland --force-device-scale-factor=1.6
Terminal=false
Type=Application
Icon=element
StartupWMClass=element
Categories=Network;InstantMessaging;Chat;IRCClient
