[Desktop Entry]
Name=flatseal
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=com.github.tchx84.Flatseal com.github.tchx84.Flatseal
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Comment[bg_BG]=Управление на разрешенията за Flatpak
Comment[cs]=Spravujte oprávnění pro Flatpak
Comment[da]=Administrer Flatpak tilladelser
Comment[de]=Berechtigungen von Flatpak-Anwendungen verwalten
Comment[es]=Un administrador de permisos para Flatpak
Comment[el]=Διαχείριση δικαιωμάτων Flatpak
Comment[he]=ניהול הרשאות של Flatpak
Comment[hu]=A Flatpak engedélykezelője
Comment[id]=Pengelola izin untuk Flatpak
Comment[it]=Un gestore di permessi per Flatpak
Comment[nb]=Administrer Flatpak-tillatelser
Comment[nl]=Beheer Flatpak-bevoegdheden
Comment[pt_BR]=Um gerenciador de permissões para Flatpak
Comment[sv]=En behörighetshanterare för Flatpak
Comment[pl]=Zarządzaj uprawnieniami Flatpak
Comment[ru]=Управление разрешениями Flatpak
Comment[ca]=Gestiona els permisos de Flatpak
Comment[tr]=Flatpak izinlerini yönet
Comment[fr]=Gérer les permissions de Flatpak
Comment[zh_CN]=管理 Flatpak 权限
Comment[ta]=பிளாட்பாக் அனுமதிகளை நிர்வகிக்கவும்
Comment[uk]=Керуйте дозволами Flatpak
Comment=Manage Flatpak permissions
Icon=com.github.tchx84.Flatseal
X-Purism-FormFactor=Workstation;Mobile;
Keywords[bg_BG]=seal;sandbox;override;
Keywords[cs]=utěsnění;sandbox;změna;
Keywords[de]=Siegel;seal;Sandkasten;sandbox;überschreiben;override;
Keywords[el]=σφράγισε;απομόνωσε;προσπέλασε;
Keywords[he]=איטום;בידוד;ארגז חול;מעקף;
Keywords[hu]=tömítés;homokozó;felülírás;
Keywords[nb]=seal;sandbox;override;
Keywords[nl]=seal;sandbox;rechten;bevoegdheden;machtigingen;permissies;flatpak;
Keywords[sv]=seal;sandbox;undantag
Keywords[pl]=seal;sandbox;override;piaskownica;nadpisz;
Keywords[ru]=seal;sandbox;override;
Keywords[tr]=yalıt;yalıtım;sanal ortam;üzerine yaz;üzerine yazma;
Keywords[ta]=முத்திரை;சாண்ட்பாக்ஸ்;புறக்கணிப்பு;
Keywords[uk]=seal;sandbox;override;флатсіал;заклеїти;пісочниця;дозволи;
Keywords=seal;sandbox;override;
X-Flatpak=com.github.tchx84.Flatseal
