# KDE Config File
[Desktop Entry]
Name=kdenlive
Type=Application
Exec=kdenlive %F
Icon=kdenlive
StartupWMClass=kdenlive
X-DocPath=kdenlive/index.html
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
