[Desktop Entry]
Version=1.0
Name=krita
Exec=krita
Icon=krita
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
StartupWMClass=krita
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
