[Desktop Entry]
Name=mixer
GenericName=Volume controller
Exec=alacritty --class "Alacritty-float,Alacritty-float" -o window.dimensions.columns=80 -o window.dimensions.lines=14 -e pulsemixer
Terminal=false
Type=Application
Version=1.0
