[Desktop Entry]
Version=1
Type=Application
Name=minecraft
GenericName=Minecraft
Comment=Game
Exec=/home/kota/.local/games/MultiMC/MultiMC
Actions=
Categories=Game;
