[Desktop Entry]
Version=1.0
Name=nnn
Exec=foot -o app-id="foot-float" -o initial-window-size-pixels="400x400" nnn
Terminal=false
X-MultipleArgs=false
Type=Application
