[Desktop Entry]
Version=1.0
Name=slack
Exec=slack --enable-features=WebRTCPipeWireCapturer --ozone-platform-hint=auto
Icon=slack
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
StartupWMClass=slack
