[Desktop Entry]
Name=torrent
Icon=de.haeckerfelix.Fragments
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=fragments --file-forwarding de.haeckerfelix.Fragments @@u %U @@
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
MimeType=x-scheme-handler/magnet;application/x-bittorrent;
Categories=GNOME;GTK;Utility;FileTransfer;P2P;
Keywords[be]=bittorrent;torrent;magnet;download;торэнт;магнет-спасылка;спампаваць;
Keywords[bg]=торент;магнит;изтегляне;bittorrent;torrent;magnet;download;p2p;
Keywords[ca]=bittorrent;torrent;magnet;baixada;p2p;
Keywords[cs]=bittorrent;torrent;magnet;magnetický odkaz;stahování;stáhnout;sdílení;p2p;
Keywords[da]=bittorrent;torrent;magnet;download;hent;p2p;
Keywords[de]=bittorrent;torrent;magnet;download;p2p;herunterladen;
Keywords[el]=bittorrent;torrent;magnet;ληφθέντα;p2p;
Keywords[en_GB]=bittorrent;torrent;magnet;download;p2p;
Keywords[es]=bittorrent;torrent;magnet;magnético;descargar;p2p;
Keywords[eu]=bittorrent;torrent;magnet;deskarga;p2p;
Keywords[fa]=bittorrent;torrent;magnet;download;p2p;تورنت;بیت‌تورنت;مگنت;بارگیری;
Keywords[fi]=bittorrent;torrent;magnet;download;p2p;vertaisverkko;
Keywords[fr]=bittorrent;torrent;magnet;download;p2p;téléchargement;télécharger;
Keywords[fur]=bittorrent;torrent;magnet;discjariament;download;p2p;
Keywords[gl]=bittorrent;torrent;magnet;descargar;p2p;
Keywords[he]=ביטורנט;טורנט;מגנט;הורדה;עמית לעמית;
Keywords[hi]=bittorrent;torrent;magnet;download;p2p;बिटटोरेंट;टोरेंट;चुंबक;डाउनलोड;
Keywords[hr]=bittorrent;torrent;magnet;preuzmi;p2p;
Keywords[hu]=bittorrent;torrent;magnet;letöltés;p2p;egyenrangú;
Keywords[id]=bittorrent;torrent;magnet;unduh;p2p;
Keywords[ie]=bittorrent;torrent;magnet;descarga;p2p;
Keywords[is]=bittorrent;torrent;magnet;niðurhal;sækja;p2p;
Keywords[it]=bittorrent;torrent;magnet;scarica;p2p;
Keywords[ja]=bittorrent;torrent;magnet;download;p2p;ビットトレント;トレント;マグネット;ダウンロード;
Keywords[ka]=bittorrent;torrent;magnet;download;p2p;ტორენტი;მაგნიტი;გადმოწერა;
Keywords[ko]=bittorrent;비트토렌트;torrent;토렌트;magnet;마그넷;download;다운로드;p2p;
Keywords[nl]=bittorrent;torrent;magnet;download;p2p;
Keywords[oc]=bittorrent;torrent;magnet;download;p2p;telecargament;descargament;descharjament;
Keywords[pl]=bittorrent;torrent;torent;magnet;pobieranie;pobierz;ściąganie;ściągnij;download;p2p;
Keywords[pt]=bittorrent;torrent;magnet;magnética;descarregar;transferir;p2p;
Keywords[pt_BR]=bittorrent;torrent;magnet;download;baixar;p2p;
Keywords[ro]=bittorrent;torrent;magnet;download;p2p;torent;descărcare;descarcă;
Keywords[ru]=bittorrent;torrent;magnet;download;p2p;торрент;загрузка;
Keywords[sk]=bittorrent;torrent;magnet;prevziať;prebrať;stiahnuť;preberanie;sťahovanie;p2p;
Keywords[sl]=bittorrent;torrent;magnet;download;p2p;torent;prenos;prenašanje;
Keywords[sr]=бит-торент;битторент;торент;магнет;преузимање;п2п;bittorrent;torrent;magnet;download;p2p;
Keywords[sv]=bittorrent;torrent;magnet;nedladdning;hämtning;p2p;
Keywords[tr]=bittorrent;torrent;mıknatıs;demirkapan;magnet;indirme;download;eşteneşe;p2p;
Keywords[uk]=bittorrent;torrent;magnet;download;p2p;бітторент;торент;маґнет;магнет;завантаження;завантажити;п2п;
Keywords[vi]=bittorrent;torrent;magnet;download;p2p;tải về;tai ve;
Keywords[zh_CN]=bittorrent;torrent;magnet;download;p2p;bt;种子;磁力;磁力链接;磁链;下载;对等网络;
Keywords[zh_TW]=bittorrent;torrent;magnet;download;p2p;bt;種子;下載;磁力連結;
Keywords=bittorrent;torrent;magnet;download;p2p;
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=de.haeckerfelix.Fragments
