[Desktop Entry]
Name=transmission
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Keywords=torrents;downloading;uploading;share;sharing;
Exec=transmission-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name[be]=Запускаць Transmission з прыпыненымі торэнтамі
Name[bg]=Стартирай Transmission с всички торенти на пауза
Name[ca]=Inicia Transmission amb tots els torrents en pausa
Name[da]=Start Transmission med alle torrents på pause
Name[de]=Mit allen Torrents pausiert starten
Name[el]=Εκκίνηση του Transmission με Όλα τα Torrent σε Παύση
Name[es]=Iniciar con todos los torrents pausados
Name[fi]=Käynnistä Transmission kaikki torrentit pysäytettyinä
Name[fr]=Démarrer Transmission avec tous les torrents en pause
Name[he]=הפעלת Transmission כשכל הטורנטים מופסקים
Name[hr]=Pokreni Transmission sa svim torentima pauziranim
Name[hu]=Transmission elindítása és az összes torrent szüneteltetése
Name[id]=Mulai Transmission dengan Semua Torrent Dijeda
Name[it]=Avvia con tutti i torrent in pausa
Name[ja]=全トレントを停止状態で Transmission を起動
Name[ko]=모든 토렌트를 멈춘 상태로 시작
Name[lt]=Paleisti Transmission pristabdžius visus torentus
Name[nb]=Start Transmission med Alle Torrents i Pause
Name[nl]=Transmission starten met alle torrents gepauzeerd
Name[pl]=Uruchom ze wstrzymanymi torrentami
Name[pt_BR]=Iniciar Transmission Com Todos Os Torrents Pausados
Name[pt_PT]=Iniciar o Transmission com todos os torrents em pausa
Name[ru]=Запускать Transmission с приостановленными торрентами
Name[sr]=Покрени Трансмисију и заустави све торенте
Name[sv]=Starta Transmission med alla torrenter pausade
Name[tr]=Transmission ile Tüm Torrentleri Duraklatılmış Şekilde Başlat
Name[uk]=Запустити Transmission з призупинкою усіх торентів
Name[zh_CN]=启动 Transmission 时暂停所有任务
Name=Start Transmission with All Torrents Paused
Exec=transmission-gtk --paused

[Desktop Action Minimize]
Name[be]=Запускаць Transmission у згорнутым выглядзе
Name[bg]=Стартирай Transmission минимизиран
Name[ca]=Inicia Transmission minimitzat
Name[da]=Start Transmission minimeret
Name[de]=Transmission minimiert starten
Name[el]=Εκκίνηση του Transmission Ελαχιστοποιημένο
Name[es]=Iniciar Transmission Minimizado
Name[fi]=Käynnistä Transmission pienennettynä
Name[fr]=Démarrer Transmission réduit
Name[he]=הפעלת Transmission במצב ממוזער
Name[hr]=Pokreni Trasmission smanjen
Name[hu]=Transmission elindítása minimalizálva
Name[id]=Mulai Transmission Diminimalkan
Name[it]=Avvia minimizzato
Name[ja]=最小化して Transmission を起動
Name[ko]=시작시 트랜스미션을 최소화 하여 시작
Name[lt]=Paleisti Transmission suskleistą
Name[nb]=Start Transmission Minimert
Name[nl]=Transmission geminimaliseerd starten
Name[pl]=Uruchom zminimalizowany
Name[pt_BR]=Iniciar Transmission Minimizado
Name[pt_PT]=Iniciar o Transmission minimizado
Name[ru]=Сворачивать Transmission при запуске
Name[sr]=Покрени умањену Трансмисију
Name[sv]=Starta Transmission minimerad
Name[tr]=Transmission'ı Küçültülmüş Şekilde Başlat
Name[uk]=Запустити Transmission згорнутим
Name[zh_CN]=启动 Transmission 时最小化
Name=Start Transmission Minimized
Exec=transmission-gtk --minimized
