[Desktop Entry]
Name=virt-manager
Comment[ca]=Gestioneu les màquines virtuals
Comment[cs]=Spravovat virtuální stroje
Comment[de]=Virtuelle Maschinen verwalten
Comment[en_GB]=Manage virtual machines
Comment[es]=Administrar maquinas virtuales
Comment[fi]=Hallitse virtuaalikoneita
Comment[fr]=Gérer des machines virtuelles
Comment[fur]=Gjestìs machinis virtuâls
Comment[hr]=Upravljajte virtualnim računalima
Comment[id]=Mengelola mesin virtual
Comment[it]=Gestisce macchine virtuali
Comment[ja]=仮想マシンの管理
Comment[ko]=가상 장비 관리
Comment[nl]=Beheer virtuele machines
Comment[pl]=Zarządzanie maszynami wirtualnymi
Comment[pt_BR]=Gerenciar máquinas virtuais
Comment[pt]=Gerir máquinas virtuais
Comment[ru]=Управление виртуальными машинами
Comment[sv]=Hantera virtuella maskiner
Comment[tr]=Sanal makineleri yönet
Comment[uk]=Керування віртуальними машинами
Comment[zh_CN]=管理虚拟系统
Comment[zh_TW]=管理虛擬系統
Comment[ka]=ვირტუალური მანქანების მართვა
Comment=Manage virtual machines
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Keywords[cs]=vmm;
Keywords[fi]=vmm;
Keywords[hr]=uvr;
Keywords[ko]=vmm;
Keywords[pl]=vmm;
Keywords[pt_BR]=vmm;
Keywords[sv]=vmm;
Keywords[tr]=vmm;
Keywords[uk]=vmm;
Keywords[ka]=vmm;
Keywords=vmm;
Categories=System;
