[Desktop Entry]
Version=1.0
Name=wifi
Exec=foot -o app-id="foot-float" -o initial-window-size-pixels="800x600" nmtui
Terminal=false
X-MultipleArgs=false
Type=Application
